<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./master.css">
  </head>

  <body>
    <div id="root" @click="messageIndex = null">
      <div class="background-green"></div>
      <div class="background-grey"></div>

      <div class="container">
        <!-- SIDEBAR HEADER -->
        <aside :class="(mobileChat) ? 'hide-cont' : ''">
          <div id="sidebar">
            <div class="account">
              <div class="user">
                <a href="#"><img src="./img/avatar_io.jpg" alt="user profile picture"></a>
                <span>Dora</span>
              </div>
              <ul>
                <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
              </ul>
            </div>

            <!-- SIDEBAR NOTIFICATIONS -->
            <div class="notifications">
              <div class="not-icon">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="not-text">
                <a href="#"><span>Ricevi notifiche di nuovi messaggi</span></a><br>
                <a href="#"><span>Attiva le notifiche desktop</span></a>
              </div>
            </div>

            <!-- SIDEBAR SEARCH INPUT -->
            <div class="new-chat">
              <i class="fas fa-search"></i>
              <input v-model="searchInput"
              type="text" name="new-chat" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- SIDEBAR CONTACTS -->
            <div class="conversations">
              <div class="contact" v-for="(contact, i) in contacts"
              @click="selectContact(contact)"
              :class="(currentIndex == i) ? 'active' : ''"
              v-if="showContact(i)">
                <div class="contact-left">
                  <img :src="`./img/avatar${contact.avatar}.jpg`"
                  :alt="`${contact.name} profile image`">
                  <div class="chat-text">
                    <span>{{contact.name}}</span>
                    <span class="last-message"
                    v-if="contact.messages.length != 0">
                      {{contact.messages[contact.messages.length - 1].text}}
                    </span>
                  </div>
                </div>

                <div class="date"
                v-if="contact.messages.length != 0">
                  {{getTime(contact.messages[contact.messages.length - 1].date)}}
                </div>
              </div>
            </div>
          </div>
        </aside>

        <!-- CHAT SECTION -->
        <div class="container-right" :class="(mobileChat) ? 'show-chat' : ''">
          <!-- CHAT HEADER - CONTACT -->
          <header>
            <div id="chat-navigation">
              <div class="chat-contact">
                <a href="#" class="back"
                @click="goBack"><i class="fas fa-arrow-left"></i></a>
                <a href="#">
                  <img :src="`./img/avatar${contacts[currentIndex].avatar}.jpg`"
                  :alt="`${contacts[currentIndex].name} profile image`">
                </a>
                <div class="last-active">
                  <span>{{contacts[currentIndex].name}}</span>
                  <span v-if="messagesArray.length != 0">Ultimo accesso oggi alle {{getTime(messagesArray[lastMessage].date)}}</span>
                  <span v-else>Ultimo accesso oggi alle {{getTime(contacts[currentIndex].lastActive)}}</span>
                </div>
              </div>
              <ul>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
              </ul>
            </div>
          </header>

          <!-- SECTION WITH MESSAGES -->
          <main>
            <div id="chat">
              <div class="message-box" :class="message.status"
              v-for="(message,i) in messagesArray">
                <span>{{message.text}}</span>
                <span class="time">{{getTime(message.date)}}</span>
                <i class="fas fa-chevron-down"
                  @click.stop="messageIndex = i">
                </i>
                <div class="message-options"
                :class="(messageIndex == i) ? 'show' : 'hide'">
                  <div>Message Info</div>
                  <div @click="deleteMessage(messageIndex)">Delete message</div>
                </div>
              </div>
            </div>
          </main>

          <!-- INPUT FOR WRITING MESSAGES -->
          <footer>
            <div id="writing-area">
              <div class="emoticon">
                <a href="#"><i class="far fa-smile"></i></a>
              </div>
              <div class="write-message">
                <input v-model="userMessage"
                @keyup.enter = "sendMessage"
                type="text" name="message" placeholder="Scrivi un messaggio">
              </div>
              <div class="audio">
                <a href="#"><i class="fas fa-microphone"></i></a>
              </div>
            </div>
          </footer>
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js" charset="utf-8"></script>
  </body>
</html>
