* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.background-green {
  height: 120px;
  background-color: #32A699;
}

.background-grey {
  height: calc(100vh - 120px);
  background-color: #D9DCD5;
}

.container {
  width: 85vw;
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.container-right {
  display: none;
  flex-direction: column;
}

/* SIDEBAR WITH ACCOUNT AND CONVERSATIONS */
#sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar .account {
  background-color: #EDEDED;
  border-right: 1px solid #DADADA;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

#sidebar .account .user {
  display: flex;
  align-items: center;
}

#sidebar .account .user img, #chat-navigation img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

#sidebar .account .user span {
  font-size: 14px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul > li {
  display: inline-block;
  padding: 5px;
}

ul > li > a {
  text-decoration: none;
  color: #919191;
}

#sidebar .notifications {
  background-color: #9DE1FE;
  padding: 13px 12px 14px 13px;
  height: 90px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#sidebar .notifications .not-icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #F5FCFF;
  position: relative;
  margin-right: 15px;
}

#sidebar .notifications i {
  color: #9DE1FE;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#sidebar .notifications .not-text a:first-child {
  text-decoration: none;
  font-size: 12px;
  color: #000;
}

#sidebar .notifications .not-text a:first-child:hover {
  text-decoration: underline;
}

#sidebar .notifications .not-text a:last-child {
  color: #928694;
  font-size: 12px;
}

#sidebar .new-chat {
  background-color: #F6F6F6;
  display: flex;
  padding: 10px;
}

#sidebar .new-chat i {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-right: 0;
  color: #D3D5CA;
}

#sidebar .new-chat input {
  width: 100%;
  padding: 10px;
  border: 1px solid #E5E5E5;
  outline: 0;
}

#sidebar .conversations {
  height: calc(100% - 200px);
  overflow-y: scroll;
  background-color: #fff;
}

#sidebar .conversations .contact {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #DADADA;
  cursor: pointer;
}

#sidebar .conversations .contact.active, #sidebar .conversations .contact:hover {
  background-color: #EAEAEA;
}

#sidebar .conversations .contact-left {
  display: flex;
}

#sidebar .conversations .contact-left img {
  width: 50px;
  border-radius: 100%;
  margin-right: 15px;
}

#sidebar .conversations .chat-text span:first-child {
  font-size: 14px;
}

#sidebar .conversations .contact-left .last-message {
  color: #928694;
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}

#sidebar .conversations .date {
  font-size: 10px;
  color: #928694;
}

/* HEADER - CONTACT INFO */
#chat-navigation {
  background-color: #EDEDED;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

#chat-navigation .chat-contact {
  display: flex;
  align-items: center;
}

#chat-navigation .last-active {
  display: flex;
  flex-direction: column;
}

#chat-navigation .last-active span:first-child {
  font-size: 14px;
}

#chat-navigation .last-active span:last-child {
  color: #928694;
  font-size: 12px;
}

/* MAIN - CHAT AREA */
main {
  height: calc(100% - 120px);
}

#chat {
  height: 100%;
  overflow-y: scroll;
  background-image: url('./img/mine.jpg');
  padding: 30px 60px 50px;
  display: flex;
  flex-direction: column;
}

.sent {
  background-color: #D5F9BB;
  align-self: flex-end;
  margin-left: 50px;
}

.received {
  background-color: #fff;
  align-self: flex-start;
  margin-right: 50px;
}

#chat .message-box {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 3px 10px;
  max-width: 280px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}

#chat .message-box span:first-child {
  margin-right: 15px;
}

#chat .message-box .time {
  color: #928694;
  font-size: 10px;
  align-self: flex-end;
  margin-top: 7px;
}

#chat .message-box i {
  color: #919191;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
}

#chat .message-box:hover i {
  display: inline-block;
}

#chat .message-options {
  background-color: #fff;
  min-width: 120px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px #888888;
  position: absolute;
  top: calc(50% + 10px);
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

#chat .message-options div {
  padding: 10px;
}

#chat .message-options div:hover {
  background-color: #EAEAEA;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

/*FOOTER - WRITING AREA/SENDING MESSAGES */
#writing-area {
  background-color: #F6F6F6;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

#writing-area a {
  text-decoration: none;
  color: #707376;
}

#writing-area .write-message {
  flex: 1 0 130px;
  margin: 0 30px;
}

#writing-area .write-message input {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 10px 5px;
  border-radius: 5px;
}

#writing-area .emoticons {
  position: absolute;
  left: 20px;
  bottom: 45px;
  background-color: #fff;
  height: 148px;
  width: 250px;
  padding: 5px;
  overflow-y: auto;
}

#writing-area .emoticons .chategory {
  display: flex;
  border-bottom: 1px solid #707376;
  margin-bottom: 5px;
}

#writing-area .emoticons .chategory div {
  padding: 5px;
  color: #707376;
  cursor: pointer;
}

#writing-area .emoticons span {
  cursor: context-menu;
}

@media all and (max-width: 767px) {
  aside {
    width: 100%;
  }

  .hide-cont {
    display: none;
  }

  .show-chat {
    display: flex;
    width: 100%
  }

  .container-right .chat-contact a.back {
    text-decoration: none;
    color: #919191;
    margin-right: 10px;
  }
}

@media all and (min-width: 768px) {
  #sidebar {
    width: 310px;
  }

  .container-right {
    display: flex;
    width: calc(100% - 310px);
  }

  .container-right .chat-contact a.back {
    display: none;
  }

  #sidebar .notifications .not-icon {
    width: 48px;
    height: 48px;
  }

  #sidebar .notifications i {
    font-size: 16px;
  }

  #sidebar .notifications .not-text a:first-child {
    font-size: 14px;
  }

  #sidebar .new-chat i {
    padding: 10px 30px;
  }

  #sidebar .conversations .contact-left .last-message {
    width: 180px;
  }

  #chat .message-box span:first-child {
    margin-right: 20px;
  }
}

@media all and (min-width: 992px) {
  #sidebar {
    width: 450px;
  }

  #chat .message-box span:first-child {
    margin-right: 40px;
}
}
