* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

/* SIDEBAR WITH ACCOUNT AND CONVERSATIONS */
#sidebar {
  width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#sidebar .account {
  background-color: #EDEDED;
  border-right: 1px solid #DADADA;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

#sidebar .account .user {
  display: flex;
  align-items: center;
}

#sidebar .account .user img, #chat-navigation img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

#sidebar .account .user span {
  font-size: 14px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul > li {
  display: inline-block;
  padding: 5px;
}

ul > li > a {
  text-decoration: none;
  color: #919191;
}

#sidebar .notifications {
  background-color: #9DE1FE;
  padding: 13px 12px 14px 13px;
  height: 90px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#sidebar .notifications .not-icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #F5FCFF;
  position: relative;
  margin-right: 15px;
}

#sidebar .notifications i {
  color: #9DE1FE;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#sidebar .notifications .not-text a:first-child {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

#sidebar .notifications .not-text a:first-child:hover {
  text-decoration: underline;
}

#sidebar .notifications .not-text a:last-child {
  color: #928694;
  font-size: 12px;
}

#sidebar .new-chat {
  background-color: #F6F6F6;
  display: flex;
  padding: 10px;
}

#sidebar .new-chat i {
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-right: 0;
  color: #D3D5CA;
}

#sidebar .new-chat input {
  width: 100%;
  padding: 10px;
  border: 1px solid #E5E5E5;
  outline: 0;
}

#sidebar .conversations {
  height: calc(100% - 200px);
  overflow-y: scroll;
}

#sidebar .conversations .contact {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #DADADA;
  cursor: pointer;
}

#sidebar .conversations .contact.active {
  background-color: #EAEAEA;
}

#sidebar .conversations .contact-left {
  display: flex;
}

#sidebar .conversations .contact-left img {
  width: 50px;
  border-radius: 100%;
  margin-right: 15px;
}

#sidebar .conversations .chat-text span:first-child {
  font-size: 14px;
}

#sidebar .conversations .contact-left .last-message {
  color: #928694;
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}

#sidebar .conversations .date {
  font-size: 10px;
  color: #928694;
}

/* HEADER */
#chat-navigation {
  background-color: #EDEDED;
  height: 60px;
  width: calc(100vw - 450px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

#chat-navigation .chat-contact {
  display: flex;
  align-items: center;
}

#chat-navigation .last-active {
  display: flex;
  flex-direction: column;
}

#chat-navigation .last-active span:first-child {
  font-size: 14px;
}

#chat-navigation .last-active span:last-child {
  color: #928694;
  font-size: 12px;
}

/* MAIN - CHAT AREA */
#chat {
  width: calc(100vw - 450px);
  height: calc(100vh - 120px);
  margin-left: 450px;
  margin-top: 60px;
  overflow-y: scroll;
  background-image: url('./img/mine.jpg');
  padding: 30px 60px;
}

#chat div.messages {
  margin-bottom: 20px;
  font-size: 14px;
}

#chat div.messages:after {
  content: '';
  display: table;
  clear: both;
}

.sent {
  background-color: #D5F9BB;
  float: right;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
}

.received {
  background-color: #fff;
  float: left;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
}

/* WRITING AREA/SENDING MESSAGES */
#writing-area {
  background-color: #F6F6F6;
  width: calc(100vw - 450px);
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#writing-area a {
  text-decoration: none;
  color: #707376;
}

#writing-area .write-message {
  flex: 1 0 130px;
  margin: 0 30px;
}

#writing-area .write-message input {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 10px 5px;
  border-radius: 5px;
}
